<!doctype html>
<html lang="en">
{% include 'head.jinja' %}

<body>

  {% include 'navbar.jinja' %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        {% include 'sidebar.jinja' %}
      </div>

      <div class="col-md-10">
        <main class="px-md-1">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">
              {% block title %}
              Dashboard
              {% endblock %}
            </h1>
          </div>

          {% block menuselection %}
          {% endblock %}

          {% if 'bokeh' == mode %}
          {{ plot_div|indent(4)|safe }}
          {% elif 'plotly' == mode %}
          {{ graphJSON|safe }}
          {% else %}
          {{ message }}
          {% endif %}

          {% block data %}
          {% endblock %}

          {% if table_data %}
          <h2>Statistics</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Observation</th>
                  {% for header in table_headers %}
                  <th>{{ header }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for obs, data in table_data.items() %}
                <tr>
                  <td>{{ obs }}</td>
                  {% for header in table_headers %}
                  <td>{{ data.get(header, '') }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </main>
      </div>
    </div>
  </div>

</body>

</html>