<!doctype html>
<html lang="en">
{% include 'head.jinja' %}

<body>

{% include 'navbar.jinja' %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      {% include 'sidebar.jinja' %}
    </div>

    <div class="col-md-9">
      <main class="px-md-1">
        <div class="chartjs-size-monitor">
          <!-- Chart size monitor code here -->
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>

        {% block menuselection %}
        {% endblock %}

        <!-- <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="1940" height="818" style="display: block; height: 409px; width: 970px;"></canvas> -->
        {% if 'bokeh' == mode %}
          {{ plot_div|indent(4)|safe }}
        {% elif 'plotly' == mode %}
          {{ graphJSON|safe }}
        {% else %}
          {{ message }}
        {% endif %}

        {% block data %}
        {% endblock %}
      </main>
    </div>
  </div>
</div>

</body>
</html>
