{% extends 'base.jinja'%}



{% block title%}
Clocks
{% endblock %}



{% block menuselection %}
<form method="post">

  <select name="clockType"  method="GET" style="width: 200px;" action="/">
    {% for type_ in extra['clockType'] %}
    {% if selection is defined and selection['clockType']|length and type_ in selection['clockType']%}
    <option value="{{type_}}" SELECTED>{{type_}}</option>"
    {%else%}
    <option value="{{type_}}">{{type_}}</option>"
    {%endif%}
    {% endfor %}
  </select>

  <select name="series_base"  method="GET" style="width: 200px;" action="/">
    {% for series_ in content['Series'] %}
    {% if selection is defined and selection['series_base']|length and series_ in selection['series_base']%}
    <option value="{{series_}}" SELECTED>{{series_}}</option>"
    {%else%}
    <option value="{{series_}}">{{series_}}</option>"
    {%endif%}
    {% endfor %}
  </select>

  <select name="series"  method="GET" style="width: 200px;" action="/">
    {% for series_ in content['Series'] %}
    {% if selection is defined and selection['series']|length and series_ in selection['series']%}
    <option value="{{series_}}" SELECTED>{{series_}}</option>"
    {%else%}
    <option value="{{series_}}">{{series_}}</option>"
    {%endif%}
    {% endfor %}
  </select>


  <div>
    <label for="exclude">Exclude the first (min):</label>
    <input type="text" id="exclude" name="exclude" value="{{ exclude }}">
  </div>
  <input type="submit" value="PLOT">
</form>
{% endblock %}