{% extends 'base.jinja'%}

{% block title%}
Configuration Dump
{% endblock%}

{% block data %}
<ul>
  {% for key, value in config.items() %}
  <li><strong>{{ key }}</strong>:
    {% if value is mapping %}
    {% set nested_dict = value %}
    {% include 'nested_dict.jinja'%}
    {% else %}
    {{ value }}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}