{% extends 'base.jinja'%}
{% block header %}
  <h1>{% block title %} {{ plotingpage }} {% endblock %}</h1>
{% endblock %}

{% block  menuselection %}
    <form method="post">
      
       <select name=type method="GET" action="/">
        {% for key_ in plot_type %}
          {% if dp is defined and  dp['type']|length and key_ in dp['type']%}
            <option value= "{{key_}}" SELECTED>{{key_}}</option>"
          {%else%}
            <option value= "{{key_}}" >{{key_}}</option>"
          {%endif%}
        {% endfor %}
      </select> 
    
        <select name="series" multiple method="GET" style="width: 200px;" action="/">
          {% for series_ in content['Series'] %}
                {% if dp is defined and  dp['series']|length and series_ in dp['series']%}
                  <option value= "{{series_}}" SELECTED>{{series_}}</option>"
                {%else%}
                  <option value= "{{series_}}">{{series_}}</option>"  
                {%endif%}
          {% endfor %}
      </select>


      <select name=sat multiple method="GET" action="/">
        {% for sat_ in content['Sat'] %}
            {% if dp is defined and  dp['sat']|length and sat_ in dp['sat']%}
            <option value= "{{sat_}}" SELECTED>{{sat_}}</option>"
          {%else%}
            <option value= "{{sat_}}">{{sat_}}</option>"  
          {%endif%}        
        {% endfor %}
    </select>
    <select name=site multiple method="GET" action="/">
      {% for site_ in content['Site'] %}
          {% if dp is defined and dp['site']|length and site_ in dp['site']%}
          <option value= "{{site_}}" SELECTED>{{site_}}</option>"
        {%else%}
          <option value= "{{site_}}">{{site_}}</option>"  
        {%endif%}          
    {% endfor %}
      </select>

      <select name=key method="GET" action="/">
        {% for key_ in content['merged_measurement'] %}
          {% if dp is defined and  dp['site']|length and key_ in dp['key']%}
          <option value= "{{key_}}" SELECTED>{{key_}}</option>"
        {%else%}
          <option value= "{{key_}}">{{key_}}</option>"  
      {%endif%}          
        {% endfor %}
      </select>

      <select name=key2 multiple method="GET" action="/">
        {% for key_ in content['merged_measurement'] %}
          {% if dp is defined and  dp['site']|length and key_ in dp['key']%}
          <option value= "{{key_}}" SELECTED>{{key_}}</option>"
        {%else%}
          <option value= "{{key_}}">{{key_}}</option>"  
      {%endif%}          
        {% endfor %}
      </select>

      <div>
          <label for="exclude">Exclude the first (min):</label>
          <input type="text" id="exclude" name="exclude" value="{{ exclude }}">
      </div>
      <input type="submit" value="PLOT">
    </form>
{% endblock %}

