{% extends 'base.jinja'%}

{% block title%}
Positions
{% endblock %}

{% block menuselection %}
<form method="post">

  <select name=type method="GET" action="/">
    {% for key_ in extra['plotType'] %}
    {% if selection is defined and extra['plotType']|length and key_ in selection['type']%}
    <option value="{{key_}}" SELECTED>{{key_}}</option>"
    {%else%}
    <option value="{{key_}}">{{key_}}</option>"
    {%endif%}
    {% endfor %}
  </select>

  <select name="series"  method="GET" style="width: 200px;" action="/">
    {% for series_ in content['Series'] %}
    {% if selection is defined and selection['series']|length and series_ in selection['series']%}
    <option value="{{series_}}" SELECTED>{{series_}}</option>"
    {%else%}
    <option value="{{series_}}">{{series_}}</option>"
    {%endif%}
    {% endfor %}
  </select>

  <select name="series_base" method="GET" style="width: 200px;" action="/">
    {% for series_ in content['Series'] %}
    {% if selection is defined and selection['series_base']|length and series_ in selection['series_base']%}
    <option value="{{series_}}" SELECTED>{{series_}}</option>"
    {%else%}
    <option value="{{series_}}">{{series_}}</option>"
    {%endif%}
    {% endfor %}
  </select>

  <select name=mode  method="GET" action="/">
    {% for mode in extra['posMode'] %}
    {% if selection is defined and selection['mode']|length and mode in selection['mode']%}
    <option value="{{mode}}" SELECTED>{{mode}}</option>"
    {%else%}
    <option value="{{mode}}">{{mode}}</option>"
    {%endif%}
    {% endfor %}
  </select>

  <select name=site multiple method="GET" action="/">
    {% for site_ in content['Site'] %}
    {% if selection is defined and selection['site']|length and site_ in selection['site']%}
    <option value="{{site_}}" SELECTED>{{site_}}</option>"
    {%else%}
    <option value="{{site_}}">{{site_}}</option>"
    {%endif%}
    {% endfor %}
  </select>


  <div>
    <label for="exclude">Exclude the first (min):</label>
    <input type="text" id="exclude" name="exclude" value="{{ exclude }}">
  </div>
  <input type="submit" value="PLOT">
</form>
{% endblock %}